<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member-detail-page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/1.css">

</head>
<body>
 
    

    <div class="personImg">
        <img class="picture" src="images/car1.png" alt="">
        <h2><%= founduser.name %> </h2>
        <h2></h2>
        
        <h3 class="teamMemb">Welcome</h3>
        <div class="social">
            
        <hr class="line">
       
       
    
        <div class="skill-row">
            <img class="winnImg" src="images/winningcup.png" alt="">
    
            <h3>invenrtory</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut imperdiet eros. Proin mollis eleifend nisl. Proin nec eros massa. Nullam mauris massa, gravida vel leo quis, semper euismod enim. Donec elementum, velit eu ultricies dignissim, purus justo faucibus metus, a feugiat risus tellus non ex. Maecenas a egestas purus. Sed sapien velit, sodales vel felis non, volutpat varius quam.</p>
    
        </div>
        <div class="skill-row1">
            <img class="projImg" src="images/project.png" alt="">
    
            <h3>Sales</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut imperdiet eros. Proin mollis eleifend nisl. Proin nec eros massa. Nullam mauris massa, gravida vel leo quis, semper euismod enim. Donec elementum, velit eu ultricies dignissim, purus justo faucibus metus, a feugiat risus tellus non ex. Maecenas a egestas purus. Sed sapien velit, sodales vel felis non, volutpat varius quam.</p>
    
          </div>
</body>
</html>