<%- include('partials/header') %>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="/" id="acitve" class="signin" > Sign In </a>
<a  href="/register" id="inactive"  class="signin" >Sign up</a>

    <!-- Icon -->
    
    
    <!-- Login Form -->
    <form action="/login" method="post">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="login" required>
      <% if (data==2) { %>
        <span class="danger">please enter correct username</span>
      <% } %>
      
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
      <% if (data==1) { %>
        <span class="danger">password is not correct</span>
      <% } %>
      
      <input type="submit" class="fadeIn fourth" >
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/register">Forgot Password?</a>
    </div>

  </div>
</div>
<%- include('partials/footer') %>

<!-- <div class="container toptext">
  <h1>Welcome</h1>
  <h2>Geeks for Geeks</h2>
 

</div>


<div class="center">
<a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
<a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
</div> -->